
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Security:</dt>
        <dd>
            @Html.ActionLink("Account", "Index", "Manage")
        </dd>
        <dd>
            @Html.ActionLink("Roles", "Index", "Roles")
        </dd>
               
        <dt>Store:</dt>
        <dd>
            @Html.ActionLink("Products", "Index", "Products")
        </dd>
        <dd>
            @Html.ActionLink("Catagories", "Index", "Categories")
        </dd>
    </dl>
</div>

